@{
    ViewBag.Title = "Home Page";
}


<div class="index-wall">
    <div class="menu container">
        <div class="logo">
            <a href="#"><h3>Books</h3></a>
        </div>
        <div class="nav">
            <ul>
                <li><a class="active-link" href="#">Home</a></li>
                <li><a href="#">Books</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>

    
    <h1 class="quot">“If you only read the books that everyone else is reading, you can only think what everyone else is thinking.” </h1>
    <div class="q-info">
        <img class="q-img" src="~/Content/Images/haruki.jpg" alt="Alternate Text" />
        <span class="q-aut">Haruki Murakami</span>
    </div>

    <div class="divider"></div>

    <h4>That's simple!</h4>

    <div class="guids">
        <ul>
            <li>
                <div>
                    <span>Choose book</span>
                    <div class="number">1</div>
                </div>
            </li>
            <li>
                <span>then</span>
            </li>
            <li>
                <div>
                    <span>Buy book</span>
                    <div class="number">2</div>
                </div>
            </li>
            <li>
                <span>then</span>
            </li>
            <li>
                <div>
                    <span>Read book</span>
                    <div class="number">3</div>
                </div>
            </li>
        </ul>
    </div>

</div>

<div class="about container-fluid">
    <div class="row">
        <div class="text col-sm-6">
            <h3>About us</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mollis feugiat convallis. Morbi vel euismod turpis, quis laoreet justo. Nullam vulputate arcu vel aliquet luctus. Ut tempor iaculis mauris at sagittis. Maecenas pellentesque odio sit amet imperdiet sodales. Duis luctus ligula id dui pretium, a ornare velit convallis. Pellentesque non consectetur ipsum. Donec vel erat iaculis, ullamcorper est sit amet, elementum leo. Nunc pharetra porttitor quam. Suspendisse venenatis viverra ligula eget bibendum.</p>
            <p>Quisque nec nulla felis. Ut ac lectus a elit molestie tincidunt vel quis diam. Phasellus non consequat dolor. Ut ut mollis est, eget ornare magna. Maecenas in vestibulum sapien. Maecenas vitae pharetra odio. In ligula magna, varius id ligula vel, pharetra convallis elit. Aenean a dignissim turpis. Integer dignissim augue eget elit ullamcorper sodales. Nunc sed velit fringilla, mattis dolor et, eleifend ipsum. Nulla malesuada, diam id gravida interdum, leo purus aliquet lorem, sit amet vehicula ligula est quis elit. Nam nec euismod quam. Sed tempor in eros et dignissim.</p>
        </div>
        <div class="col-sm-6 authors-img-wrap">
            <div class="authors-img">
                <img src="~/Content/Authors/Franz_kafka.jpg" alt="Alternate Text" />
                <img src="~/Content/Authors/Mikhail_Lermontov.jpg" alt="Alternate Text" />
                <img src="~/Content/Authors/Taras_Shevchenko.jpg" alt="Alternate Text" />
                <div class="filter-bg"></div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="text2 col-sm-6">
            <h3>READ</h3>   
        </div>
    </div>
</div>


<div class="features">
    <div class="feature">
        <span>Anywhere</span>
        <div class="line"></div>
    </div>
    <div class="feature">
        <span>whenever</span>
        <div class="line"></div>
    </div>
    <div class="feature">
        <span>as much as you want</span>
        <div class="line"></div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="text2 col-sm-6">
            <h3>What can we offer</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nemo beatae quibusdam non, a aliquam saepe eaque adipisci vero veniam!</p>
        </div>
    </div>
</div>

<div class="main">
    @foreach (Books book in ViewBag.Books)
    {
    <div class="book">
        @{ViewBag.Path = "/Content/Authors/" + book.Authors.FirstName + "_" + book.Authors.LastName + ".jpg";}
        <div class="aut-img"><img src=@ViewBag.Path alt="Alternate Text" /></div>
        <div class="bg"></div>

        <div class="line blue"></div>
        <div class="line red"></div>
        <div class="line yellow"></div>

        <div class="info-book">
            <div class="title-book">
                <h3>@book.Title</h3>
                <h4>@book.Authors.FirstName @book.Authors.LastName</h4>
            </div>
            <div class="arrow up"></div>
        </div>

        <div class="head"></div>

        <div class="about-book"></div>
        <div class="fields">
            <p><span class="col-name">Genre:</span><span class="col-value">@book.Genres.GenreName</span></p>
            <p><span class="col-name">Publiser:</span><span class="col-value">@book.Publisher</span></p>
            <p><span class="col-name">Pages:</span><span class="col-value">@book.Pages</span></p>

            <a class="buy-btn" href="/Home/BuyBook/@book.Id">
                <i class="icon-cart"></i>
            </a>
        </div>
    </div>
    }
</div>



