
@{
    ViewBag.Title = "UserInfo";
}

<h2>UserInfo</h2>

<h3>Your browser @ViewBag.browser</h3>
<h3>OS @ViewBag.user_agent</h3>
<h3>url @ViewBag.url</h3>
<h3>ip @ViewBag.ip</h3>


@Html.TextBox("Person", "Type name")
@Html.DropDownList("Authors", ViewBag.Authors as SelectList)


@MyHelpers.ShowBooks(ViewBag.Books) // App_Code is a reserved name for folder with helpers


